:root {
    /* NORMAL COLOR MODE */
    --color1: #D2691E;
    --color2: #363636;
    --color3: #F5FFFA;

    /* FAQ QUESTION LIST GRADIENT 1 */
    --night1: #855988;
    --night2: #6B4984;
    --night3: #483475;
    --night4: #2B2F77;
    --night5: #141852;
    --night6: #070B34;
}