:root {
/* LIGHT COLOR MODE */
    --color1: #FCCB1A;
    --color2: #342B09;
    --color3: #FEF7DC;
    

        /* GRADIENT 2 */
    --night1: #66e9ff;
    --night2: #33e1ff;
    --night3: #00daff;
    --night4: #00aecc;
    --night5: #008399;
    --night6: #005766;
}