:root {
    /* FLAMING C MODE (CONAN HERO ALTER-EGO) */
    --color1: #3B5998;
    --color3: #F7F7F7;
    --color2: #3A004C;

    --night1: #66e9ff;
    --night2: #33e1ff;
    --night3: #00daff;
    --night4: #00aecc;
    --night5: #008399;
    --night6: #005766;
}