:root {
    --color1: #B82214;
    --color2: #340D09;
    --color3: #E3F7D4;

    --night1: #855988;
    --night2: #6B4984;
    --night3: #483475;
    --night4: #2B2F77;
    --night5: #141852;
    --night6: #070B34;
}