* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2em;
    margin: 0;
}

/* Container class for all pages */
.container {
    width: 80%; 
    margin: auto; 
    overflow: hidden; /* If anything goes outside the container there won't be any scroll bar */
}

/* -----------------------------INDEX PAGE----------------------------------- */


/* Color theme changing buttons */
#buttons {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 5em;
}

button {
	width: 100%;
	text-align: center;
	background-color: var(--color1);
	font-size: .8em;
    border-radius: 5px;
}
button:hover {
	width: 100%;
	text-align: center;
	background-color: var(--color2);
	color: var(--color1);
	font-size: .9em;
    border-radius: 5px;
}

/* Navigation Menu background color and text color for all pages */
#mainNav {
    background-color: var(--color1);
    color: var(--color3);
    position: sticky;
    top: 0%;
}

/* Navigation Menu anchor tags */
#mainNav a {
    color: var(--color3);
    padding: .5em 1em;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

/* Navigation menu hover color change */
#mainNav a:hover {
    background-color: var(--color2);
    color: var(--color1);
}


/* Picture under Nav Menu (JUST ON HOME PAGE) */
#jumbo {
    background-image: url('../images/COCO.jpeg');
    background-position: center center;
    min-height: 250px;
    text-align: right;
    color: var(--color1);
    font-size: 20px;
}

/* Welcome message */
#welcome {
    background: var(--color3);
    color: var(--color1);
    font-size: 1.5em;
}

#welcome a {
    text-decoration: none;
    color: var(--color1);
}

#welcome a:hover {
    color: var(--color2);
}

/* All paragraphs and list under sections (JUST ON HOME PAGE) */
#main {
    background: var(--color3);
    color: var(--color2);
    font-size: 20px;
}

/* ANIMATED Picture in main home page transition */
#main img {
    animation-name: coco;
	animation-duration: 4s;
	animation-iteration-count: 2;
}

/* Animation rule */
@keyframes coco {
    100% {transform: scale(1.2, 1.5);}
}

 /* More about Conan area */
 #more {
    background: var(--color1);
    color: var(--color3);
    font-size: 18px;
}


/* -----------------------------FAQ PAGE----------------------------------- */


/* FAQ PAGE MAIN SECTION */
#mainFAQ {
    background: var(--color3);
    color: var(--color2);
    font-size: 20px;
}

/* FAQ  questions list */
#questionList {
    color: var(--color3);
    border: 10px solid var(--color1);
    border-radius: 30px;
    float: top;
    padding: 10px 20px;
    margin: 5%;
    background-image: linear-gradient(to right top, var(--night1), var(--night2), var(--night3), var(--night4), var(--night5), var(--night6));
}


/* Adding gradient to the FAQ box */
#questionList img {
    float: right;
}

ul {
    list-style-type: none;
}

/* FAQ list anchor (letter color) */
#questionList a {
    color: var(--color3);
    text-decoration: none; 
    font-size: 25px; 
}

/* FAQ list hover */
#questionList a:hover {
    color: var(--color1);
}

/* FAQ answers */
#answers {
   background: var(--color3); 
}

/* FAQ answers top anchor */
#answers a {
    color: var(--color1);
    text-decoration: none;
}

/* -----------------------------GALLERY PAGE----------------------------------- */


/* Gallery page */
#mainImg {
    background: var(--color3);
    color: var(--color2);
    font-size: 1em;
}

img {
    border: 5px solid var(--color1);
    border-radius: 30px;
    background: var(--color2);
    color: var(--color1);
    padding: 10px;
    margin: 50px;
    float: left;
    
}

figure {
    color: var(--color1);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Transition for Gallery Page images */
figure img{
    transition-duration: 200ms;
    transition-property: transform;

}

/* Gallery images transitions */
figure img:hover {
    transform: rotate(6deg);
}

/* -----------------------------CONTACT PAGE----------------------------------- */

/* Table */
.content-table {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    min-width: 2em;
}

.content-table thead tr {
    background: var(--color1);
    text-align: left;
    font-weight: bold;
}

.content-table td {
    padding: .5em .5em;
}

.content-table tbody tr { 
        border-bottom: .1em solid var(--color2);
}

.content-table tbody tr:nth-of-type(even) {
    background: var(--color1);
}



/* -----------------------------FOOTER SECTION----------------------------------- */


/* Footer */
#mainFooter {
    background: var(--color2);
    color: var(--color3);
    text-align: center;
    font-size: 20px;
}

#mainFooter a {
    color: var(--color3);
    padding: 10px 20px;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
}

#mainFooter a:link {
    color: var(--color3);
}

#mainFooter a:hover {
    color: var(--color1);
}

/* Image Social Sprites */
#YouTube {
    display: inline-block;
    width: 52px;
    height: 49px;
    background-position: 0 -49px;
    background-image: url("../images/social-icons.png");
}

#Instagram {
    display: inline-block;
    width: 52px;
    height: 49px;
    background-position: 0 0;
    background-image: url("../images/social-icons.png");
}

#Twitter {
    display: inline-block;
    width: 52px;
    height: 49px;
    background-position: -104px 0;
    background-image: url("../images/social-icons.png");
}

#Facebook {
    display: inline-block;
    width: 52px;
    height: 49px;
    background-position: -52px 0;
    background-image: url("../images/social-icons.png");
}

/* ------------------------RESPONSIVE DESIGN----------------------------------- */

/* PHONE */
/* Responsive navbar */
/* Hide the link that should open and close the nav on small screens */
nav .menu {
    display: none;
}

@media screen and (max-width: 40em) {
	h1 {font-size: 8vw;}
	nav a {font-size: 3vw;}
	nav a:not(:first-child) {display: none;}
	nav a.menu {
	  float: right;
	  display: block;
	}
	figure {margin: 2em auto;}
}

/* Responsive Nav shows vertically */
@media screen and (max-width: 40em) {
	nav.responsive {position: relative;}
	nav.responsive a.menu {
		position: absolute;
		right: 0;
		top: 0;
	}
	nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

@media screen and (max-width: 40em) {
    /* Color themes */
    #buttons {
        flex-wrap: wrap;
        font-size: .8em;
    }

    /* ALL PAGES */
    #mainHeader {
        display: -webkit-flex;
        flex-direction: row;
    }

    #mainHeader h1 {
        font-size: 2em;
    }


    #mainNav {
        font-size: 1em;
        background: var(--color2); 
    }

    #mainNav a:hover {
        color: var(--color1);
    } 

    /* ----FAQ PAGE---- */

    #questionList a {
        font-size: .9em;
    }

    #answers {
        font-size: .9em;
    }

    /* ----GALLERY PAGE---- */

    #mainImg {
        font-size: 1em;
    }

    /* ----CONTACT PAGE---- */

    form {
        display: -webkit-flex;
        flex-direction: row;
        font-size: 1em;
    }

    /* ----FOOTER SEC---- */

    #mainFooter {
        font-size: 1em;
    }

    #mainFooter a {
        font-size: 1em;
    }
    
}

/* TABLET */
@media screen and (max-width: 65em) {
    #mainHeader {
        font-size: 1em;
    }

    #mainNav {
        background: var(--color2);
    }
    #mainNav a{
        font-size: 1.2em;
    }

    #jumbo {
        display: none;
    }
}











